.orderTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .orderTable thead {
    border-bottom: 1px solid black;
  }
  
  .orderTable th,
  .orderTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: left; /* 必要に応じて */
  }
  
  .orderTable tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  .orderTable tbody tr:last-child {
    border-bottom: none; /* 最後の行の下線は不要な場合 */
  }