@use "mq" as *;

$white: white;
$gray: gray;
$lightgray: lightgray;
$black: black;

body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  position: relative;
  padding-bottom: 55px;

  // >* {
  //   width: 70%;
  //   margin: 0 auto;
  // }
  @include mq(md) {
    font-size: 16px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: $black;
}

input {
  width: 70%;
}

.bi {
  font-size: 16px;

  @include mq(sm) {
    font-size: 22px;
  }

  @include mq(md) {
    font-size: 25px;
  }
}

header {
  margin: 10px 10px;
  // height: 30px;
  display: flex;
  justify-content: space-between;
  // align-items: center;

  h1 {
    font-size: 20px;

    @include mq(md) {
      font-size: 30px;
    }
  }

  img {
    height: 25px;

    @include mq(md) {
      height: 45px;
    }
  }

  ul {
    margin: 0;
    padding-top: 2px;
  }

  li {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
    width: 47px;

    @include mq(sm) {
      width: 55px;
    }

    @include mq(md) {
      width: 60px;
    }

    div {
      font-size: 10px;
      display: inline-block;

      @include mq(sm) {
        font-size: 13px;
      }

      @include mq(md) {
        font-size: 16px;
      }
    }

    button {
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 0;
    }
  }

  .headerLogo {
    margin-right: 5px;
  }

  div {
    align-items: center;
    display: flex;
  }
}

.tabs,
.categories {
  // margin: 5px 0px;
  padding: 5px;
  background-color: $gray;
  opacity: 0.7;
  display: flex;
  justify-content: space-around;

  button {
    font-weight: bold;
    color: $white;
    width: 80px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;

    &.active {
      background: $lightgray;
      border-radius: 10%;
    }
  }
}

footer {
  display: block;
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  position: fixed;
  bottom: 0;
  background-color: $gray;
  opacity: 0.7;

  @include mq(md) {
    height: 50px;
  }

  ul {
    margin: 0;
  }

  // nav {
  //   display: flex;
  //   justify-content: right;
  // }
  li {
    display: inline-block;
    padding-left: 10px;

    a {
      color: $white;
    }
  }
}

main {
  margin: 0px 10px;
}

#home {
  @include mq(lg) {
    display: flex;
  }

  .divHomeImg {
    width: 100%;
    height: 225px;
    margin: 0 auto;

    @include mq(md) {
      height: 430px;
    }

    @include mq(lg) {
      height: 550px;
      margin: 10px;
    }

    img {
      padding: 0px 0px 10px 0px;
      width: 100%;
      height: 200px;
      object-fit: cover;
      display: block;

      @include mq(md) {
        height: 400px;
      }

      @include mq(lg) {
        height: 100%;
      }
    }
  }
}


.ulProducts {

  @include mq(lg) {}

  li {
    display: flex;
    margin: 5px;

    img {
      margin: 5px;
      border-radius: 10%;
    }
  }

  // display: flex;
  //   flex-wrap: wrap;
  //   margin: auto calc(50% - 180px);

  // li {
  //     margin: 5px;
  //     padding: 8px;
  //     border: 1px solid $gray;
  //     border-radius: 10%;

  //     img {
  //       border-radius: 10%;
  //     }
  //   }
}

#regist {
  div {
    margin-left: 15px;
  }

  button {
    display: block;
    margin-top: 10px;
  }
}

#change {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

#login {
  margin: 0 auto;
  padding: 20px;
  width: 250px;
  height: 250px;
  border: 1px solid $black;
  border-radius: 10%;
  text-align: center;

  h2 {
    margin-top: 5px;
    margin-bottom: 25px;
  }

  input {
    display: block;
    width: 100%;
  }

  >* {
    margin-top: 15px;
  }
}

#editUser {
  >* {
    display: block;
  }

  h5 {
    margin: 8px auto 0px;
  }

  button {
    margin-top: 10px;
  }
}

#myPage {
  p:nth-of-type(2n) {
    padding-bottom: 10px;
  }

  button {
    font-size: small;
    padding: 15px 0;
  }
}

#storeInfoMain {
  div {
    width: 80%;

    iframe {
      width: 80%;
    }
  }
}

#qanda {
  h3 {
    margin-bottom: 10px;
  }
}

// h1 {
//   color: red;

//   @include mq(sm) {
//     color: yellow;
//   }

//   @include mq(md) {
//     color: green;
//   }

//   @include mq(lg) {
//     color: blue;
//   }

//   @include mq(xl) {
//     color: violet;
//   }
// }

#root {
  min-height: calc(100vh - 50px);
}


// #root {
//   min-height: 100vh;
//   position: relative;
//   display: block;
// }